<div class="row d-flex align-items-center">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="no-combo-card">
      <img src="https://www.milenio.com/uploads/media/2019/02/24/las-palomitas-se-volvieron-populares.jpg" alt="popcorn in cardboard tub" alt="popcorn in cardboard tub" class="no-combo-img">
      <div class="no-card-infos">
        <h6 class="no-item-name">Nothing here!</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="no-combo-card">
      <img src="https://www.milenio.com/uploads/media/2019/02/24/las-palomitas-se-volvieron-populares.jpg" alt="popcorn in cardboard tub" alt="popcorn in cardboard tub" class="no-combo-img">
      <div class="no-card-infos">
        <h6 class="no-item-name link-to-recent">LINK TO RECENT</h6>
      </div>
    </div>
  </div>
</div>

