<div class="row d-flex align-items-center justify-content-center">
  <div class="col-xs-1" align="center">
    <br>
    <h2 class="mb-5">Looks like you haven't saved a combo yet...</h2>

    <div class="empty"><%= image_tag "burger.svg"%></div>
</div>
