<div class="container">
  <br>
  <div class="header mx-2">
  </div>
  <% if @user_combos.empty? %>
    <%= render 'no-saved-cards' %>
  <% else %>
  <h2>Hello <%= current_user.name %>!</h2>
  <h4>Here are your saved combos</h4>
    <%= render 'shared/combo-selection-cards' %>
  <% end %>
</div>
