<div class="container">
  <h2>Hello <%= current_user.name %></h2>

  <h3>Combos you saved</h3>
  <%= render 'shared/combo-card' %>

  <h3>Combo you selected</h3>
  <%= render 'shared/combo-card' %>
</div>
