<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1461151304267-38535e780c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80);">
  <div class="container">
    <h1>Give us your favorite cuisine and movie genre<br>We’ll take care of tonight<br></h1>
    <p>Let’s start with your postcode...</p>
    <a class="btn btn-primary" href="#">Search Form</a>
  </div>
</div>
