 <div class="carousel">
  <div class="combo-card carousel-card">
    <img src="http://www.delonghi.com/Global/recipes/multifry/97.jpg" />
    <div class="combo-card-infos">
      <h2>Pizza</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://glutenfreecuppatea.co.uk/wp-content/uploads/2018/10/gluten-free-spiced-coconut-curry-recipe-dairy-free-low-fodmap-featured.jpg" />
    <div class="combo-card-infos">
      <h2>Indian Curry</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://du7ybees82p4m.cloudfront.net/5654adcddd78a6.01014133.jpg?width=910&height=512" />
    <div class="combo-card-infos">
      <h2>Burgers</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/longchim_sydney-_credit_jiwon_kim_-19.jpg?itok=UjwKKyhB" />
    <div class="combo-card-infos">
      <h2>Thai Food</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://www.washingtonpost.com/resizer/liKOYIMw5Uv8AU5zUPESjXvYAYQ=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/GAZC23UQM424FMISJZDPMOK7TE.jpg" />
    <div class="combo-card-infos">
      <h2>Ethiopian</h2>
    </div>
  </div>
</div>
<div class="carousel">
  <div class="combo-card carousel-card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvLQZl5ilXg7IEensT1Z2MN2Dv9S6lip3PkzdD9CH9MUtklBHh" />
    <div class="combo-card-infos">
      <h2>Horror</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://excelsia.edu.au/wp-content/uploads/2019/05/DramaBachelor.jpg">
    <div class="combo-card-infos">
      <h2>Drama</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://media.glamour.com/photos/5b3ba8f10446b903a592f47d/16:9/w_1280%2Cc_limit/1romcoms_lede.jpg" />
    <div class="combo-card-infos">
      <h2>Rom coms</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://i.ytimg.com/vi/LC89xWK0g08/maxresdefault.jpg" />
    <div class="combo-card-infos">
      <h2>Animation</h2>
    </div>
  </div>
  <div class="combo-card carousel-card">
    <img src="https://i.ytimg.com/vi/EFNkhUkOQaE/maxresdefault.jpg" />
    <div class="combo-card-infos">
      <h2>Sci-fi</h2>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="carousel">
        <div class="combo-card carousel-card">
          <img src="http://www.delonghi.com/Global/recipes/multifry/97.jpg" />
          <div class="combo-card-infos">
            <h2>Pizza</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://glutenfreecuppatea.co.uk/wp-content/uploads/2018/10/gluten-free-spiced-coconut-curry-recipe-dairy-free-low-fodmap-featured.jpg" />
          <div class="combo-card-infos">
            <h2>Indian Curry</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://du7ybees82p4m.cloudfront.net/5654adcddd78a6.01014133.jpg?width=910&height=512" />
          <div class="combo-card-infos">
            <h2>Burgers</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/longchim_sydney-_credit_jiwon_kim_-19.jpg?itok=UjwKKyhB" />
          <div class="combo-card-infos">
            <h2>Thai Food</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://www.washingtonpost.com/resizer/liKOYIMw5Uv8AU5zUPESjXvYAYQ=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/GAZC23UQM424FMISJZDPMOK7TE.jpg" />
          <div class="combo-card-infos">
            <h2>Ethiopian</h2>
          </div>
        </div>
      </div>
      <div class="carousel">
        <div class="combo-card carousel-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvLQZl5ilXg7IEensT1Z2MN2Dv9S6lip3PkzdD9CH9MUtklBHh" />
          <div class="combo-card-infos">
            <h2>Horror</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://excelsia.edu.au/wp-content/uploads/2019/05/DramaBachelor.jpg">
          <div class="combo-card-infos">
            <h2>Drama</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://media.glamour.com/photos/5b3ba8f10446b903a592f47d/16:9/w_1280%2Cc_limit/1romcoms_lede.jpg" />
          <div class="combo-card-infos">
            <h2>Rom coms</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://i.ytimg.com/vi/LC89xWK0g08/maxresdefault.jpg" />
          <div class="combo-card-infos">
            <h2>Animation</h2>
          </div>
        </div>
        <div class="combo-card carousel-card">
          <img src="https://i.ytimg.com/vi/EFNkhUkOQaE/maxresdefault.jpg" />
          <div class="combo-card-infos">
            <h2>Sci-fi</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
