<section class='a-left control-c prev slick-prev' id="arrow-left" data-left="<%= image_path('arrow-left.png')%>"></section>
<section class='a-right control-c next slick-next' id="arrow-right" data-right="<%= image_path('arrow-right.png')%>"></section>



