<!-- do iteration instead copy 3 sets of card when the seeds are ready -->
<!-- iteration outside of row -->
<div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <div class="combo-card">
        <img src="https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
        <div class="combo-card-infos">
          <h2>Title here</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content">
        <h4>A slice you can't refuse...</h4>
        <p>This is random long text for this movie a paragraph or two to describe what it is and to entice you to watch the movie and be zen with your choice.</p>
        <a href="#" class="btn btn-primary">Select</a>
        <a href="#" class="btn btn-success">Save for Later</a>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <div class="combo-card">
        <img src="https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
        <div class="combo-card-infos">
          <h2>Title here</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content">
        <h4>A slice you can't refuse...</h4>
        <p>This is random long text for this movie a paragraph or two to describe what it is and to entice you to watch the movie and be zen with your choice.</p>
        <a href="#" class="btn btn-primary">Select</a>
        <a href="#" class="btn btn-success">Save for Later</a>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <div class="combo-card">
        <img src="https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
        <div class="combo-card-infos">
          <h2>Title here</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content">
        <h4>A slice you can't refuse...</h4>
        <p>This is random long text for this movie a paragraph or two to describe what it is and to entice you to watch the movie and be zen with your choice.</p>
        <a href="#" class="btn btn-primary">Select</a>
        <a href="#" class="btn btn-success">Save for Later</a>
      </div>
    </div>
  </div>
