<div class="combo-card">
  <img src="https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
  <div class="combo-card-infos">
    <h2>Title here</h2>
  </div>
</div>
