<!-- do iteration instead copy 3 sets of card when the seeds are ready -->
<!-- iteration outside of row -->
<% @combos.sample(3).each do |combo| %>
<div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <div class="combo-box d-flex justify-content-center align-items-center">
        <div class="combo-card">
          <img src="https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
          <div class="combo-card-infos">
          <h2><%= combo.movie.name %></h2>
          </div>
        </div>
        <div class="combo-card">
          <img src="https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
          <div class="combo-card-infos">
          <% food_type = combo.food_type %>
          <h2><%= Restaurant.where(food_type: food_type).sample.name%></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content">
        <h4><%= combo.name %></h4>
        <p><%= combo.description %></p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Select</button>
        <% if user_signed_in? %>
          <a href="#" class="btn btn-success">Save for Later</a>
        <% else %>
          <a href="/users/sign_in" class="btn btn-success">Log in to Save </a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<!-- bootstrap popup modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center">You have Chosen</h5>
        <h5 class="text-center">Eat, Eat, Eat</h5>
        <div class="row d-flex justify-content-center">
          <img src="https://media3.giphy.com/media/3ohhwliPYARsRHK2Aw/giphy.gif" alt="#" style="width: 120px; height:100px">
        </div>
        <h6>You will be redirected to Netflix and Deliveroo in 3 seconds...</h6>
        <div class="row d-flex justify-content-center align-items-center">
          <img src="https://logos-download.com/wp-content/uploads/2016/03/Netflix_logo_n.png" alt="netflix" class="mr-1" style="height:60px">
          <img src="https://s3-eu-west-1.amazonaws.com/tpd/logos/587a5a650000ff00059ac805/0x0.png" alt="deliveroo" class="ml-1" style="height:60px">
        </div>
        <h6>In the meantime, why not share your combo with your friends?</h6>
        <div class="row d-flex justify-content-center align-items-center" id="modal-icons">
          <a href="#"><i class="fab fa-instagram mx-1"></i></a>
          <a href="#"><i class="fab fa-facebook mx-1"></i></a>
          <a href="#"><i class="fab fa-twitter mx-1"></i></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
