<div id="flash-messages">
  <% if notice %>
    <div class="alert alert-info alert-dismissible fade show m-1" id="notice" role="alert">
      <div>
        <%= notice %>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <% if alert %>

    <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
      <div>
        <%= alert %>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
