<div class="row d-flex align-items-center">
  <div class="col-sm-12 col-md-6 col-lg-4 px-2">
    <div class="home-card mx-2">
      <img src="https://previews.123rf.com/images/imagestore/imagestore1411/imagestore141100002/33688765-popcorn-in-striped-bucket-on-white-background.jpg" alt="">
      <h3>① Give us your postcode</h3>
      <br>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <img src="https://previews.123rf.com/images/imagestore/imagestore1411/imagestore141100002/33688765-popcorn-in-striped-bucket-on-white-background.jpg" alt="">
      <h3>② Select your favorite movie genre</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <img src="https://previews.123rf.com/images/imagestore/imagestore1411/imagestore141100002/33688765-popcorn-in-striped-bucket-on-white-background.jpg" alt="">
      <h3>③ We curate three awesome combos</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

