<div class="row d-flex align-items-center">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <%= image_tag "postcode.svg"%>
      <h3>Enter your postcode</h3>
      <p>To find your best takeout options</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <%= image_tag "selection.svg"%>
      <h3>Choose a film & food type</h3>
      <p>We won't judge</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <%= image_tag "watching.svg"%>
      <h3>Pick a combo</h3>
      <p>From one of three food & film pairs</p>
    </div>
  </div>
</div>
<br>

