<div class="row d-flex align-items-center">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <%= image_tag "location.svg"%>
      <h3>Enter your postcode</h3>
      <p>We will find your best takeout options</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <%= image_tag "select.svg"%>
      <h3>Choose a movie genre & food type</h3>
      <p>We won't judge</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="home-card mx-2">
      <%= image_tag "watching.svg"%>
      <h3>Pick a combo and enjoy </h3>
      <p>We will give you three food & film pairs</p>
    </div>
  </div>
</div>
<br>

