<div class="banner small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://daily.jstor.org/wp-content/uploads/2017/11/popcorn_history_1050x700.jpg);">
</div>
