<div class="container">
  <!-- put how 126 works & combo examples in the bootstrap container -->
  <%= render 'shared/carousel' %>
  <br>
  <h2 class="text-center">How to 126</h2>
  <%= render 'shared/how-it-works' %>
  <h2 class="text-center">Fresh Combos</h2>
</div>
