<div class="container">
  <!-- put how 126 works & combo examples in the bootstrap container -->
  <br>
  <h2 class="text-center">How to 126</h2>
  <%= render 'shared/how-it-works' %>
  <h2 class="text-center">Fresh Combos</h2>
  <%= render 'shared/topcombo_carousel' %>
  <div id="arrow" data-left="<%= image_path "arrow-left.png" %>" data-right="<%= image_path "arrow-right.png" %>"></div>
</div>
