.alert {
  position: fixed;
  top: 17px;
  left: 85px;
  z-index: 1000;
  background-color: $green;
  border: none;
  border-radius: 2px;
  padding: 7px 22px 7px 10px;
  color: white;
  font-size: 12px;
}

.alert-dismissible .close {
  padding: 0 5px;
  top: 5px;
  &:hover {
    color: white;
  }
}
