.carousel, .fresh-carousel {
  margin-bottom: 40px;
}

// CARD SIZE
.slick-slide {
  transform: scale(0.8);
  transition: all 300ms ease;
  opacity: 0.7;
}

.slick-center {
  transform: none;
  opacity: 1;
}

.slick-center:focus {
  outline: none;
}

.slick-active:focus {
  outline: none;
}


// TERRIBLE ARROWS
.slick-prev, .slick-next, {
  font-size: 25px;
  border-radius: 50%;
  line-height: 1rem;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 87px;
  z-index: 5;
  font-weight: bolder;
  background-color: white;
  opacity: 0.5;
  &:hover, &:active {
      transition: all 300ms ease;
      outline: none;
      font-weight: regular;
      opacity: 1;
      background-color: white;
    }
}

#text {
  display: none;
  color: transparent;
  opacity: 0;
}

.slick-prev {
  left: 309px;
  @include desktop {
    left: 251px;
  }
  @include large-tablet {
    left: 251px;
  }
  @include tablet {
    left: 3px;
  }
  @include mobile {
    left: 12px;
  }
}

.slick-next {
  right: 309px;
  @include desktop {
    right: 251px
  }
  @include large-tablet {
    right: 251px;
  }
  @include tablet {
    right: 3px;
  }
  @include mobile {
    right: 12px;
  }
}

.margin-auto {
  margin: 5px auto;
}
