.combination {
  margin-bottom: 20px;
}

.large-shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.relative {
  position: relative;
}

.like, .downvote {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#log-save {
  position: static;
}

.fa-heart {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.combo-card {
  overflow: hidden;
  background: white;
  width: 180px;
  border-radius: 10px;
  text-decoration: none;
}

.combo-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.plus {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
  z-index: 10;
}

.y-line {
  background-color: black;
  height: 30px;
  width: 5px;
  border-radius: 4px;
}

.x-line {
  background-color: black;
  height: 5px;
  width: 30px;
  border-radius: 4px;
  position: absolute;
}

.combo-card-infos {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #effffc;
}

.combo-item-name {
  text-align: center;
}

.index-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.modal-content {
  background-color: #E8F4EF;
  border-radius: 5px;
}

.modal-body {
  text-align: center;
}

.modal-body h6 {
  margin: 15px;
}

.redirect {
  margin-bottom: 10px;
}

.mr-1-n {
  padding-right: 10px;
}

.mr-1-d {
  padding-left: 10px;
}

#modal-icons > a > i {
  color: #255957;
  font-size: 32px;
}

