.combo-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  margin: 0 auto;
}

.combo-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.combo-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px 16px;
}

.combo-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.combo-card .combo-cad-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
