.footer {
  width: 100%;
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;

  @include mobile {
    height: 70px;
    padding: 0 20px;
  }
}

.footer-copyright {
  font-family: "Amatic SC";
  font-size: 65px;

  @include mobile {
  font-size: 55px;
  line-height: 0.5rem;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
