.form-container {
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.formlog {
  width: 100%;
}

.form-header {
  margin: 15px 0;
  text-align: center;
}

.booking-container {
  padding: 16px;
  margin-bottom: 12px;
  margin-top:12px;
}
