.home-card {
  // border-radius: 3px;
  // box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  // border: 1px solid rgb(230,230,230);
}

.home-card img {
  height: 120px;
}

.home-card h3 {
  font-size: 18px;
  padding: 10px 0px 0px 0px;
}

.home-card p {
  font-size: 16px;
  color: #7a7070;
  opacity: .8;
  font-weight: lighter;
}
