#round-logo {
  display: inline-block;
  font-family: "Amatic SC";
  font-size: 65px;
  line-height: 0.8;
  color: white;
  margin-top: 10px;
}

// FAVICON ARTWORK
// #nav-logo {
//   background-color: #255957;
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }

// #favicon-logo {
//   display: inline-block;
//   color: white;
//   font-family: "Amatic SC";
//   font-size: 26px;
//   font-weight: bold;
// }
