.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background-color: $green;
  padding: 0;
}

.dropdown-item {
  border-radius: 2px;
  color: white;
  padding: 6px 12px;
  box-shadow: none;
  &:hover {
    background-color: #E8F4EF;
    color: $green;
  }
}


