.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



