.select-choice {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  width: 340px;
}

.select-choice img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.select-choice span {
  font-size: 20px;
  font-weight: bold;
}


