.select-choice {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.7;
  position: relative;
}

.select-choice:hover {
  cursor: pointer;
}

.fa-check-circle {
  color: $green;
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  display: none;
}

.show {
  display: block;
}

.select-choice img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.select-choice span {
  font-size: 20px;
  font-weight: bold;
}

.selected {
  filter: grayscale(0%);
  opacity: 1.0;
}


