console.log('downvote')
heartDiv = document.getElementById('combo_<%= @combo.id %>');
heartDiv.innerHTML = `
  <a data-remote="true" rel="nofollow" data-method="post" href="/combos/<%= @combo.id %>/like">
                  <i class="far fa-heart"></i>
  </a>
`;

