<div class="container">
  <h2 class="text-center">Our Suggestions</h2>
  <div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <%= render 'shared/index-card', class:"mx-1" %>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content mx-1">
        <h4>A slice you can't refuse...</h4>
        <p>This is random long text for this movie a paragraph or two to describe what it is and to entice you to watch the movie and be zen with your choice.</p>
        <a href="#" class="btn btn-primary">Select</a>
        <a href="#" class="btn btn-success">Save for Later</a>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <%= render 'shared/index-card', class:"mx-1" %>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content mx-1">
        <h4>A slice you can't refuse...</h4>
        <p>This is random long text for this movie a paragraph or two to describe what it is and to entice you to watch the movie and be zen with your choice.</p>
        <a href="#" class="btn btn-primary">Select</a>
        <a href="#" class="btn btn-success">Save for Later</a>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-sm-12 col-md-6">
      <%= render 'shared/index-card', class:"mx-1" %>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="index-content mx-1">
        <h4>A slice you can't refuse...</h4>
        <p>This is random long text for this movie a paragraph or two to describe what it is and to entice you to watch the movie and be zen with your choice.</p>
        <a href="#" class="btn btn-primary">Select</a>
        <a href="#" class="btn btn-success">Save for Later</a>
      </div>
    </div>
  </div>
</div>
