<div class="container">
  <h2 class="text-center mt-3 mb-1">Sponsor Combo</h2>
  <h4 class="text-center mb-4">Pay £100 to promote your combo <i class="fas fa-comment-dollar"></i></h4>
  <%= render 'payments/form', combo: @combo %>
</div>
